<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6cad4e00-22f7-45f3-b039-9b33fa2b33f5/resourceGroups/virtualNetworks-rg/providers/Microsoft.Web/sites/NagarroBookTheShow20221128205932</ResourceId>
    <ResourceGroup>virtualNetworks-rg</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://nagarrobooktheshow20221128205932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f599e8bc-dda6-471f-a0e9-95ec1f22e27d</ProjectGuid>
    <PublishUrl>https://nagarrobooktheshow20221128205932.scm.azurewebsites.net/</PublishUrl>
    <UserName>$NagarroBookTheShow20221128205932</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>